In [7]:
%%time
import pandas as pd
import numpy as np

Tasks = pd.DataFrame(columns= ["TaskID", "Start", "End"])

maxLen = 17
Tasks["TaskID"] = np.array(list(map(lambda x: "Task "+str(x), np.arange(0,11))))
Tasks["Start"] = np.random.randint(1, maxLen - 1, len(Tasks.TaskID))
Tasks["End"] = Tasks["Start"].apply(lambda x:x + np.random.randint(1, maxLen-x))
Tasks = Tasks.sort_values("End")

print(Tasks)

startTime = 0
toDo = []
i = 0
while startTime <= max(Tasks.Start):
    target = Tasks[Tasks.Start >= startTime][0:1]
    toDo.append(list(target.TaskID)[0])
    startTime = list(target.End)[0]+1

print(toDo)

     TaskID  Start  End
3    Task 3      1    6
6    Task 6      2    7
7    Task 7      7    8
9    Task 9      6    8
0    Task 0      9   10
1    Task 1      5   12
10  Task 10      2   12
2    Task 2     11   14
5    Task 5     11   14
4    Task 4      7   16
8    Task 8     15   16
['Task 3', 'Task 7', 'Task 0', 'Task 2', 'Task 8']
CPU times: user 8.66 ms, sys: 19 Âµs, total: 8.68 ms
Wall time: 7.11 ms

In [8]:
Tasks

     TaskID  Start  End
3    Task 3      1    6
6    Task 6      2    7
7    Task 7      7    8
9    Task 9      6    8
0    Task 0      9   10
1    Task 1      5   12
10  Task 10      2   12
2    Task 2     11   14
5    Task 5     11   14
4    Task 4      7   16
8    Task 8     15   16

In [9]:
Tasks[0:len(Tasks)]

     TaskID  Start  End
2    Task 2      2    8
6    Task 6      6    9
8    Task 8      6    9
0    Task 0      8   10
10  Task 10     10   11
1    Task 1      5   12
5    Task 5      6   13
3    Task 3     11   14
4    Task 4      7   15
7    Task 7     12   16
9    Task 9     12   16

In [4]:
Tasks

     TaskID  Start  End
8    Task 8      3    8
4    Task 4      4    9
7    Task 7      7   11
3    Task 3     10   12
5    Task 5      5   12
0    Task 0      1   15
10  Task 10      3   15
1    Task 1     15   16
2    Task 2     14   16
6    Task 6     10   16
9    Task 9     13   16

In [21]:
%%time
import pandas as pd
import numpy as np


#é¨æ©çæä»»å
Tasks = pd.DataFrame(columns= ["TaskID", "Start", "End"])

maxLen = 17
Tasks["TaskID"] = np.array(list(map(lambda x: "Task "+str(x), np.arange(0,11))))
Tasks["Start"] = np.random.randint(1, maxLen - 1, len(Tasks.TaskID))
Tasks["End"] = Tasks["Start"].apply(lambda x:x + np.random.randint(1, maxLen-x))
Tasks = Tasks.sort_values("Start", ascending= False)
#å°ä»»åå¾ææéå§çéå§æå

#print(Tasks)


Tasks


LastStartTime = max(Tasks.Start) + 1
toDo = []
i = 0
while LastStartTime >= min(Tasks.End): #å¦æå­éåéæä»»åå¯ä»¥é¸
    target = Tasks[Tasks.End <= LastStartTime][0:1] #å»ºç«å­éå
                                    #ä¸¦é¸æç¬¬ä¸åï¼ä¹å°±æ¯å­éåä¸­ææéå§çï¼
    toDo.append(list(target.TaskID)[0])#å°æ­¤ä»»åæ¾é²æä½³è§£ä¸­
    LastStartTime = list(target.Start)[0]-1 #å°å­éåç¯åè¨­å®çºæ­¤ä»»åéå§åçä»»åå
print(toDo)

['Task 1', 'Task 9', 'Task 6']
CPU times: user 5.87 ms, sys: 0 ns, total: 5.87 ms
Wall time: 4.97 ms

In [22]:
Tasks

     TaskID  Start  End
1    Task 1     15   16
9    Task 9     10   13
4    Task 4      8   13
0    Task 0      6   12
8    Task 8      6   16
10  Task 10      5   13
3    Task 3      4   14
7    Task 7      4   11
5    Task 5      3   14
6    Task 6      2    5
2    Task 2      1    5

In [17]:

LastStartTime = max(Tasks.Start) + 1
toDo = []
i = 0
while LastStartTime >= min(Tasks.End): #å¦æå­éåéæä»»åå¯ä»¥é¸
    target = Tasks[Tasks.End <= LastStartTime][0:1] #å»ºç«å­éå
                                    #ä¸¦é¸æç¬¬ä¸åï¼ä¹å°±æ¯å­éåä¸­ææéå§çï¼
    toDo.append(list(target.TaskID)[0])#å°æ­¤ä»»åæ¾é²æä½³è§£ä¸­
    LastStartTime = list(target.Start)[0]-1 #å°å­éåç¯åè¨­å®çºæ­¤ä»»åéå§åçä»»åå
print(toDo)

14
11
9
3
['Task 0', 'Task 3', 'Task 9', 'Task 2']

In [13]:
Tasks

     TaskID  Start  End
0    Task 0     15   16
6    Task 6     15   16
5    Task 5     14   16
10  Task 10     14   15
4    Task 4     13   15
3    Task 3     12   14
9    Task 9     10   11
8    Task 8      8   14
2    Task 2      4    7
1    Task 1      2    7
7    Task 7      2    9

In [10]:

startTime = 0
toDo = []
i = 0
while startTime <= max(Tasks.Start):
    target = Tasks[Tasks.Start >= startTime][0:1]
    toDo.append(list(target.TaskID)[0])
    startTime = list(target.End)[0]+1

print(toDo)

['Task 3', 'Task 7', 'Task 0', 'Task 2', 'Task 8']